/* Base styles */
    
$background: linear-gradient(53deg, rgba(74,64,99,0.7) 0%, rgba(153,237,204,0.7) 100%)
$white: #fff
$primary: #99EDCC
$secondary: #4A4063
$alt: #FC7A57
$body-color: #424242
$header-font: 'Chivo', sans-serif
$body-font: 'Overpass', sans-serif
$container: 60rem

body
    background-color: $white
    color: $body-color
    background-size: auto
    min-height: 100vh
    line-height: 1.5
h1,
h2,
h3,
h4,
h5 
    font-family: $header-font
p
    font-family: $body-font
a
    font-family: $body-font
    color: $secondary
    text-decoration: none
    font-weight: 600
    transition: all 0.2s ease-in
    &:focus,
    &:hover
        background-color: $alt
footer 
    text-align: center
    color: $alt
    padding: 20px 0
    // background-color: $secondary
    background: $secondary url(/img/brush-background.png) no-repeat center center
    background-size: cover
    p
        border-color: $alt
        color: $alt
    a
        color: $white
    
.container
    max-width: $container
    padding: 0 2em 
    margin: 0 auto
    // border-radius: 5px
    // box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.5)
.clippy
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%)
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%)
    // background: linear-gradient(53deg, rgba(74,64,99,1) 0%, rgba(153,237,204,1) 100%)
    background-color: $primary
.intro
    background: $background, url(/img/angle.png) no-repeat center center
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 80px 0
    @media (max-width: 567px)
        padding:  100px 0
    h1
        margin-bottom: 0
    ul
        list-style: none
        padding: 0
        display: flex
        li
            padding-left: 1.5em
            padding-right: 1.5em
            a
                color: $white
                font-size: 1em
                letter-spacing: 2px
    .intro-title
        font-size: 5em
        color: $white
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5)
        margin-bottom: 2px
        line-height: 1.2
        @media (max-width: 567px)
            font-size: 2em
    .intro-subtitle
        font-size: 4.5em
        margin-top: 0
        font-family: zarya
        letter-spacing: 5.5px
        font-weight: 100
        color: $white
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5)
        line-height: 0.8
        @media (max-width: 567px)
            font-size: 1.5em
            
// About section 

.about-grid
    display: grid
    grid-template-columns: 1fr 400px
    align-items: center
    grid-gap: 20px
    h2
        font-weight: 700
    img
        width: 100%
    @media (max-width: 567px)
        grid-template-columns: 1fr
.about
    padding-top: 40px
    @media (max-width: 567px)
        margin-top: 40px
        padding-top: 0
// message 

.message-title 
    background: $secondary url(/img/brush-background.png) no-repeat center center
    background-size: cover
    color: $white
    text-align: center
    padding: 40px 0
    margin-top: -7px
    h2
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 0
        margin: 0
    p
        font-weight: 300
        text-transform: uppercase
        letter-spacing: 7px
        font-size: 0.6em
        margin-bottom: 0

// logo

.nav-logo
    position: fixed
    top: 20px
    cursor: pointer
    left: 2%
    a
        font-size: 1.2em
        color: $white

// skills

.design
    display: flex
    flex-direction: row
    flex-basis: 100%
    .design-img
        display: flex
        flex: 5
        text-align: center
        justify-content: center
        align-items: center
        align-content: center
        i
            font-size: 5em
    .design-desc
        flex: 5
.available
    margin: 20px 0
.design-wrapper
    max-width: 800px
    margin: 0 auto

// Hire me

.hire
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%)
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%)
    background-color: $primary
    padding: 4em 0
    text-align: center
// Journal 
#journal
    padding: 40px 0
.journal-container
    max-width: 600px
    margin: 0 auto;
    padding-right: 20px
    padding-left: 20px
    p
        color: #bdc3c7

@font-face 
    font-family: zarya 
    src: url(fonts/drip.ttf) format('opentype')