/* Base styles */
@root:
    --dark: rgb(30,34,39)
    --light: #fff

html
    overflow-x: hidden
    font-size: 10px
    scroll-behavior: smooth
    
body
    background-color: $white
    color: $body-color
    background-size: auto
    // min-height: 100vh
    line-height: 1.5
h1,
h2,
h3,
h4,
h5 
    font-family: $header-font
p
    font-family: $body-font
    font-size: 2rem
a
    font-family: $body-font
    color: $secondary
    text-decoration: none
    font-weight: 600
    transition: all 0.2s ease-in
    &:focus,
    &:hover
        background-color: $dark
footer 
    text-align: center
    color: $white
    padding: 4rem 0
    background-color: #222
    p
        letter-spacing: 2px
        color: $white
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5)
    a
        color: $white
        margin: 0 .5rem
        &:hover
            background-color: transparent
            opacity: 0.4

.intro
    background: $background, url(/img/angel.png) no-repeat center center
    background-size: cover
    background-attachment: fixed
    padding: 4rem 0
    box-shadow: 0 10px 50px rgba(0,0,0,.6)
    height: 90vh
    display: flex
    flex-direction: column
    justify-content: center
    @media (max-width: 600px)
        background-position: center
        background-attachment: scroll
    h1
        margin-bottom: 0
    ul
        list-style: none
        padding: 0
        display: flex
        li
            padding-left: 1.5em
            padding-right: 1.5em
            a
                color: $white
                font-size: 1em
                letter-spacing: 2px
    .intro--header
        font-family: zarya
        font-size: 10.9rem
        color: $white
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5)
        margin-bottom: 2rem
        line-height: 1.2
        @media (max-width: 600px)
            font-size: 4em
    .intro--subheader
        font-size: 6rem
        margin-top: 0
        margin-bottom: 3rem
        letter-spacing: 5.5px
        font-weight: 100
        color: $white
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5)
        line-height: 0.8
        @media (max-width: 600px)
            font-size: 1.5em

// skills

#skills
    .section-title
        text-align: center
        color: $white
        span
            color: $white
    margin: 10rem 0
    background: rgb(11,71,70);
    background: linear-gradient(90deg, rgba(11,71,70,1) 0%, rgba(54,226,223,1) 50%);
    transform: skewY(-5deg)
    padding: 6rem 0
    
    .skills--card_container
        display: grid
        max-width: 140rem
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
        grid-gap: 4rem
        margin: 2rem auto
        padding: 0 2rem
        @media (max-width:600px)
            grid-template-columns: 1fr
        
    .skills--card
        box-shadow: 0 2px 15px rgba(0,0,0,.10)
        text-align: center
        border-radius: 2.5rem
        background-color: $white
        padding: 4rem
        .dark-mode
            background-color: $dark
        @media (max-width: 600px)
            padding: 2rem

    .skills--title
        font-size: 4rem
        font-weight: 700
        margin: 0

// Hire me

.hire
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%)
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%)
    background-color: $primary
    padding: 4em 0
    text-align: center
// Journal 
#journal
    padding: 4rem 0
    background-color: #FAFAFA
    .section-title
        text-align: center
        margin-bottom: 2rem
    .dark-mode
        background-color: $dark

// resume
.resume
    background: rgb(67,191,230)
    background: linear-gradient(180deg, rgba(67,191,230,1) 0%, rgba(34,98,119,1) 80%)
.resume-wrapper
    max-width: 800px
    margin: 60px auto
    img 
        width: 100%
        box-shadow: 0px 10px 44px -12px rgba(0,0,0,0.75)
    p
        text-align: center
        transition: all 0.3s ease
        &:hover
            transform: translateY(-3px)
    a 
        color: $white
        font-size: 1.2em
        transition: all 0.3s ease
        &:hover
            transform: translate(10px)
    

// Dark Mode Activate
.dark-mode
    background: $dark
    color: $white
    .post-body
        background: $dark
        a 
            color: $white
    .post-container
        background: $dark
        a
            color: $white
        color: $white
    .about-grid .about--desc,
    #skills .skills--card,
    #journal
        background-color: $dark
    .journal-post
        background-color: #2d3339
        a
            color: $white

// Custom Font
@font-face 
    font-family: zarya 
    src: url(fonts/graffiti.otf) format('opentype')