// All Blog post Styles 
.post-body
    background: #fff !important
    font-size: 1.1em
    line-height: 1.8
    display: grid
    min-height: 100%
    grid-template-rows: auto 1fr auto
.post-container
    width: 100%
    padding-right: 15px
    padding-left: 15px
    justify-self: center
    h1
        text-align: center
    h2
        font-size: 3em
        margin-bottom: 10px
        line-height: 1
    .post-date
        p
            color: #bdc3c7
.journal-post
    padding: 20px
    background-color: $white
    border-radius: 5px
    margin-bottom: 20px
    transition: all .15s ease
    &:hover
        box-shadow: 0 5px 40px -5px rgba(0, 0, 0, .1)
.journal-hero
    background: $background, url(/img/brock.jpg) no-repeat center center
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 80px 0