.work-container
    display: grid
    grid-gap: 40px
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
.project
    text-align: center
    border: 3px solid $white
    border-radius: 5px
    color: $white
    transition: all .15s ease
    img
        width: 100%
        height: 100%
    .fit-object
        object-fit: cover
    a
        text-decoration: none
        &:hover
            background-color: transparent
    &:hover
            box-shadow: 0 5px 40px -5px rgba(0,0,0,0.1)
            transform: translateY(-2px)
#work
    padding: 4rem 0  6rem 0
.project-overlay
    cursor: pointer
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    height: 100%
    width: 100%
    opacity: 0
    background-color: rgba(0,0,0,0.8)
    text-align: center
    color: $white
    transition: .2s ease-out
    font-size: 1.1em
    font-weight: 700
    &:hover
        opacity: 1
