.work-container
    display: grid
    grid-gap: 40px
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
.project
    padding: 20px
    text-align: center
    border: 3px solid $white
    border-radius: 5px
    color: $white
#work
    padding: 4rem 0  6rem 0