<!DOCTYPE html>
<html>
        <head>
            <title>{{ .Title }}</title>
            <meta charset="UTF-8">
            <meta name="description" content="{{ .Description }}">
            <link rel="stylesheet" href="/../css/main.css" />
            <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        </head>
<body class="post-body" style="background-color:#fff;">
  <div class="post-container">
      <h1>{{ .Title }}</h1>
      <h2>{{ .Date.Format "Mon, Jan 2, 2006" }}</h2>
      {{ .Content }}
  </div>
</body>
{{ partial "footer.html" . }}
</html>