<section class="about">
    <div class="about-grid">
        <div class="about--img">
            <img src="img/about-me.JPG" alt="Gabe Amaya">
        </div>
        <div class="about--desc">
            <h2 class="section-title">about me</h2>
            <p>I’m completely self-taught, but I didn’t do it alone. Everything I know is thanks to countless people
                who have freely shared their knowledge with the world. They inspire me, and I want to give back, too.
                Everything I learn, I document here. And there is always something new to learn.</p>
                <a href="#" class="zarya-btn">learn more</a>
        </div>
    </div>
</section>