<section id="about">
    <div class="about-grid">
        <div class="about--img">
            <img src="img/about-me.JPG" alt="Gabe Amaya">
        </div>
        <div class="about--desc">
            <h2 class="section-title">about me</h2>
            <p>I’m a completely self-taught Front End Developer by way of the Southside of Austin, Texas. Everything I have learned and know will be documented here. I owe it all to countless people who have freely shared their knowledge with the world. I want to give back while I conitnue to learn on my Journey to become a better Developer.</p>
                <a href="#" class="zarya-btn">learn more</a>
        </div>
    </div>
</section>