<section class="about">
    <div class="container">
        <div class="about-grid">
            <div class="about-item">
                <h2><strong>About Me</strong></h2>
                <p>I’m completely self-taught, but I didn’t do it alone. Everything I know is thanks to countless people who
                    have freely shared their knowledge with the world. They inspire me, and I want to give back, too. Everything
                    I learn, I document here. And there is always something new to learn.</p>
                <a class="github-button" href="https://github.com/CodingGabe" data-show-count="true" aria-label="Follow @CodingGabe on GitHub">Follow</a>
                <a href="https://twitter.com/King_Gabes?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true">Follow @King_Gabes</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="about-item">
                <img src="/img/me.png" alt="Gabe Amaya">
            </div>
        </div>
    </div>
</section>