<section class="available">
    <div class="container">
        <h1 class="savage-title"><strong>What I Can Do aka Skills <span class="cursor">|</span></strong></h1>
        <div class="design-wrapper">
            <div class="design">
                <div class="design-img">
                    <div class="icon-wrapper"><i class="fas fa-paint-brush"></i></div>  
                </div>
                <div class="design-desc">
                    <h3 class="design-title">Clean Design</h3>
                    <p>Simple, creative designs focused on spacing, typography, content and your message.</p>
                </div>
            </div>
            <div class="design">
                <div class="design-desc" style="text-align: right;margin-top:20px">
                    <h3 class="design-title">Development</h3>
                    <p>Crisp Mobile first Development across all browsers, even you IE 👊 </p>
                </div>
                <div class="design-img">
                    <div class="icon-wrapper"><i class="fas fa-code"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>