<section id="skills">
    <div class="container">
        <h2 class="section-title">skills<span class="cursor">|</span></h2>
    </div>
    <div class="skills--card_container">
        <div class="skills--card">
            <img src="/img/edit.svg" alt="edit icon">
            <h2 class="skills--title">Design</h2>
            <p class="skills--desc">
                I make simple and clean designs focused on spacing, typography, content and your message.
            </p>
        </div>
        <div class="skills--card">
            <img src="/img/terminal.svg" alt="terminal icon">
            <h2 class="skills--title">Development</h2>
            <p class="skills--desc">
                Crisp Mobile first Coding for responsive layouts across all browsers and improved load times.
            </p>
        </div>
        <div class="skills--card">
            <img src="/img/pen-tool.svg" alt="pen tool icon">
            <h2 class="skills--title">Graphics</h2>
            <p class="skills--desc">
                Clean graphics for branding done in Illustrator for a super sharp image output.
            </p>
        </div>
    </div>
</section>