<footer class="footer">
  <div class="social-container">
    <a href="https://www.instagram.com/creative.gabe/"><img src="/img/instagram.svg" alt="instagram"></a>
    <a href="https://twitter.com/King_Gabes"><img src="/img/twitter.svg" alt="twitter"></a>
    <a href="https://github.com/CodingGabe"><img src="/img/github.svg" alt="github"></a>
  </div>
  <p>© {{ .Site.LastChange.Format "2006" }} · Built &amp; Designed by Me 😎</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<script>
  $('#toggle-navvy').click(function() {
   $(this).toggleClass('active');
   $('#overlay').toggleClass('open');
  });

  $(".nite-btn").on("click", () => {
    $("body").toggleClass("dark-mode");
  });
</script>
