<div class="nav-logo">
    <a class="logo-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
</div>

<div class="button_container" id="toggle-navvy">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
    <nav class="overlay-menu">
        {{ with .Site.Menus.main }}
        <ul>
            {{ range sort . }}
            <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</div>

<section class="intro">
    <div class="grid-container">
        <div class="intro--titles">
            <h1 class="intro--header">{{ .Site.Params.author }}</h1>
            <h2 class="intro--subheader">Front End Web Developer</h2>
            <a href="#about" class="zarya-btn">Check me out</a>
            <!-- {{ with .Site.Params.social }}
            <ul>
                {{ range sort .}}
                <li>
                    <a href="{{ .url }}">{{ .name }}</a>
                </li>
                {{ end }}
            </ul>
            {{ end }} -->
        </div>
        <div class="intro--social">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-github"></i>
        </div>
    </div>
</section>