<div class="nav-logo">
    <a class="logo-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
</div>

<div class="button_container" id="toggle-navvy">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
    <nav class="overlay-menu">
        {{ with .Site.Menus.main }}
        <ul>
            {{ range sort . }}
            <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</div>

<section class="intro">
    <h1 class="intro-title">{{ .Site.Params.author }}</h1>
    <h2 class="zarya-title">{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
        {{ range sort .}}
        <li>
            <a href="{{ .url }}">{{ .name }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</section>