<section class="hire">
    <div class="container">
        <h1 class="savage-title">Hire Me</h1>
        <p class="not-available">I am currently <strong>NOT</strong> available.</p>
        <p>If you are looking to improve your existing site, rebrand, completely build from scratch, recruit to your company or just want to hit me up and say hey then please get in touch! 🤗</p>
        <p class="button-wrapper">
            <a href="mailto:gabeamaya2@gmail.com" class="zarya-btn"><i class="far fa-envelope"></i> Hit Me Up</a>
        </p>
    </div>
</section>