<section id="journal">
    <div class="journal-container">
        <h1 class="section-title">latest posts</h1>
        {{ range first 3 .Data.Pages }} {{ if eq .Type "journal"}}
        <div class="journal-post">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class="post-date">{{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minute read</p>
        </div>
        {{ end }} {{ end }}
        <p style="text-align:center"><a href="/journal/">View All</a></p>
    </div>
</section>