<div class="button_container" id="toggle-navvy">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
    <nav class="overlay-menu">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Journal</a>
            </li>
            <li>
                <a href="#">Work</a>
            </li>
        </ul>
    </nav>
</div>