<div class="nav-logo">
    <a class="logo-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="nite-btn">
        <img src="/img/moon.svg" alt="moon icon">
    </div>
</div>


<div class="button_container" id="toggle-navvy">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
    <nav class="overlay-menu">
        {{ with .Site.Menus.main }}
        <ul>
            {{ range sort . }}
            <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</div>