<section id="partner">
    <div class="grid-item">
        <img src="/img/shopify-partner.png" alt="shopify partner">
    </div>
    <div class="grid-item">
        <p><strong>Now officially a Shopify Partner!</strong> I love to build robust online stores for all types of business’. Shopify is the leading platform and gold standard, in my opinion, in online stores and having the ability to customize and build with the platform has been a blessing. Check them out and let me build for you!</p>
    </div>
</section>