<section id="about-terminal">
    <div class="container">
        <div class="terminal">
            <div class="terminal-top">
                <div class="mac-btn red"></div>
                <div class="mac-btn yellow"></div>
                <div class="mac-btn green"></div>
            </div>
            <div class="terminal-window">
                <div class="term-info">
                    <p>Gabe.Amaya</p>
                    <p class="brackets">"Austin, TX"</p>
                </div>
                <div class="term-info">
                    <p>Gabe.contact.info</p>
                    <p class="brackets">["
                        <a href="mailto:gabeamaya2@gmail.com">GabeAmaya2@gmail.com</a>"], ["
                        <a href="tel:5126444270">512.644.4270</a>"]</p>
                </div>
                <div class="term-info">
                    <span class="carrot"></span>
                </div>
            </div>
        </div>
    </div>
</section>