<section id="work">
    <div class="work-container">
        <div class="project">
            <h2>Project 1</h2>
        </div>
        <div class="project">
            <h2>Project 2</h2>
        </div>
        <div class="project">
            <h2>Project 3</h2>
        </div>
        <div class="project">
            <h2>Project 4</h2>
        </div>
        <div class="project">
            <h2>Project 5</h2>
        </div>
        <div class="project">
            <h2>Project 6</h2>
        </div>
    </div>
</section>