<section id="work">
    <div class="work-container">
        <div class="project">
            <a href="http://wildbasinfitx.com/">
                <img src="/img/wild.png" alt="Wild Basin Fitness" class="fit-object">
            </a>
            <!-- <div class="project-overlay">
                <p>Wild Basin Fitness</p>
            </div> -->
        </div>
        <div class="project">
            <a href="https://www.pointeofhope.net/">
                <img src="/img/pointe.png" alt="Pointe of Hope" class="fit-object">
            </a>
            <!-- <div class="project-overlay">
                <p>Pointe of Hope</p>
            </div> -->
        </div>
        <div class="project">
            <a href="http://recruit-crosby.weebly.com/">
                <img src="/img/crosby.png" alt="Crosby Football" class="fit-object">
            </a>
            <!-- <div class="project-overlay">
                <p>Crosby Football Recruiting</p>
            </div> -->
        </div>
        <div class="project">
            <a href="https://codinggabe.github.io/sombra/">
                <img src="/img/sombra.png" alt="Sombra CSS" class="fit-object">
            </a>
            <!-- <div class="project-overlay">
                <p>CSS Framework Sombra</p>
            </div> -->
        </div>
        <div class="project">
            <a href="http://www.512goons.pro/">
                <img src="/img/goons.png" alt="512 Goons Gaming" class="fit-object">
            </a>
            <!-- <div class="project-overlay">
                <p>512 Goons Gaming</p>
            </div> -->
        </div>
        <div class="project">
            <a href="https://github.com/CodingGabe/discord-bot">
                <img src="/img/discord.png" alt="Discord Bot" class="fit-object">
            </a>
            <!-- <div class="project-overlay">
                <p>Sombra Discord Bot</p>
            </div> -->
        </div>
    </div>
</section>